@model ForgotPassUserModel
@{
    ViewData["Title"] = "Quên mật khẩu";
}
<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left" style="background:red;">
                    <img class="img-fluid" src="~/assets/img/tcvtfc.png" alt="Logo">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>Quên mật khẩu</h1>
                        <p class="account-subtitle">Truy cập vào hệ thống của chúng tôi</p>
                        @if (ViewBag.Error != null)
                        {
                            <h6 style="color:red;">@ViewBag.Error</h6>
                        }
                        <form asp-action="ForgotPassword" method="post">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Email" asp-for="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block w-100" type="submit">Gửi mã xác nhận</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
