@model ChangePasswordModel
<form method="post" asp-action="ChangePass">
    New Password: <input type="text" asp-for="NewPassword" /><br />
    Re-enter New Password: <input type="text" asp-for="ReNewPassword" />
    <input type="submit" value="Login" />
</form>