@model AdminLoginViewModel
<form method="post" asp-action="Login">
    Username: <input type="text" asp-for="UserName" /><br />
    Password: <input type="text" asp-for="Password" />
    <input type="submit" value="Login" />
</form>
