﻿
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from mentoring.dreamguystech.com/html/template/admin/profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 May 2023 10:33:22 GMT -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Viettel FC</title>

    <link href="~/admin_assets/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/admin_assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/admin_assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/admin_assets/plugins/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/admin_assets/plugins/fontawesome/css/all.min.css" rel="stylesheet" />

    <link href="~/admin_assets/css/feathericon.min.css" rel="stylesheet" />
    <link href="~/admin_assets/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/admin_assets/css/style.css" rel="stylesheet" />
    <link href="~/admin_assets/css/ckeditor.css" rel="stylesheet" />
</head>
<body>
    <div class="main-wrapper">
        <div class="header">

            <div class="header-left">
                <a href="index.html" class="logo">
                    <img src="https://th.bing.com/th/id/OIP._8oz8stVnLGxjKspfdnnGAHaEK?rs=1&pid=ImgDetMain" alt="Logo">
                </a>
                <a href="index.html" class="logo logo-small">
                    <img src="https://th.bing.com/th/id/OIP._8oz8stVnLGxjKspfdnnGAHaEK?rs=1&pid=ImgDetMain" alt="Logo" width="30" height="30">
                </a>
            </div>

            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fe fe-text-align-left"></i>
            </a>
            <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="Search here">
                    <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>

            <a class="mobile_btn" id="mobile_btn">
                <i class="fa fa-bars"></i>
            </a>


            <ul class="nav user-menu">




                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="https://th.bing.com/th/id/R.b4276bb8a190277405b339a4be5cc56d?rik=Lg9k30Yh3esUnQ&pid=ImgRaw&r=0"
                                 width="31" alt="Ryan Taylor">
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="https://th.bing.com/th/id/R.b4276bb8a190277405b339a4be5cc56d?rik=Lg9k30Yh3esUnQ&pid=ImgRaw&r=0" alt="User Image"
                                     class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>Allen Davis</h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="profile.html">My Profile</a>
                        <a class="dropdown-item" href="settings.html">Settings</a>
                        <a class="dropdown-item" href="login.html">Logout</a>
                    </div>
                </li>

            </ul>

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span><i class="fe fe-home"></i> Main</span>
                        </li>
                        <li class="active">
                            <a href="/Admin/Home"><span>Dashboard</span></a>
                        </li>
                     
                        <li >
                            <a href="/matchManagement/index"><span>Trận đấu</span></a>
                        </li>
                        <li>
                            <a href="/ProductManagement/index"><span>Sản phẩm</span></a>
                        </li>
                        <li>
                            <a href="/Category/index"><span>Danh mục sản phẩm</span></a>
                        </li>
                        <li>
                            <a href="/Season/index"><span>Mùa giải</span></a>
                        </li>
                        <li>
                            <a href="/Discount/index"><span>Mã giảm giá</span></a>
                        </li>
                        <li >
                            <a href="/admin/usermanagement"><span>Nhân viên</span></a>
                        </li>
                        <li>
                            <a href="/Staff/StaffManagementNew"><span>Tin tức</span></a>
                        </li>
                       @*  <li class="submenu">
                            <a href="#"><span>Tin tức</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="blog.html"> Tin tu </a></li>
                                <li><a href="blog-details.html"> Blog Details </a></li>
                                <li><a href="add-blog.html"> Add Blog </a></li>
                                <li><a href="edit-blog.html"> Edit Blog </a></li>
                            </ul>
                        </li> *@
                        <li>
                            <a href="settings.html"><span>Settings</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><span> Reports</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="invoices.html">Invoices List</a></li>
                                <li><a href="invoice-grid.html">Invoices Grid</a></li>
                                <li><a href="add-invoice.html">Add Invoices</a></li>
                                <li><a href="edit-invoice.html">Edit Invoices</a></li>
                                <li><a href="view-invoice.html">Invoice Details</a></li>
                                <li><a href="invoices-settings.html">invoice settings</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="invoice-items.html"><span>Items</span></a>
                        </li>
                        <li class="menu-title">
                            <span><i class="fe fe-document"></i> Pages</span>
                        </li>
                        <li>
                            <a href="profile.html"><span>My Profile</span></a>
                        </li>
                      
                        <li class="submenu">
                            <a href="#"><span> Authentication </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="login.html"> Login </a></li>
                                <li><a href="register.html"> Register </a></li>
                                <li><a href="forgot-password.html"> Forgot Password </a></li>
                                <li><a href="lock-screen.html"> Lock Screen </a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        @RenderBody()

    </div>

    <script src="~/admin_assets/js/jquery-3.6.0.min.js"></script>

    <script src="~/admin_assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/admin_assets/js/feather.min.js"></script>

    <script src="~/admin_assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/admin_assets/plugins/datatables/jquery.datatables.min.js"></script>
    <script src="~/admin_assets/plugins/datatables/datatables.min.js"></script>

    <script src="~/admin_assets/plugins/raphael/raphael.min.js"></script>

    <script src="~/admin_assets/plugins/morris/morris.min.js"></script>

    <script src="~/admin_assets/js/chart.morris.js"></script>

    <script src="~/admin_assets/js/script.js"></script>
</body>


</html>