<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from mentoring.dreamguystech.com/html/template/admin/profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 May 2023 10:33:22 GMT -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Mentoring - Profile</title>
    <link href="~/admin_assets/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/admin_assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/admin_assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/admin_assets/css/feathericon.min.css" rel="stylesheet" />
    <link href="~/admin_assets/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/admin_assets/css/style.css" rel="stylesheet" />

</head>
<body>
    <div class="main-wrapper">
        <div class="header">

            <div class="header-left">
                <a href="index.html" class="logo">
                    <img src="https://th.bing.com/th/id/OIP._8oz8stVnLGxjKspfdnnGAHaEK?rs=1&pid=ImgDetMain" alt="Logo">
                </a>
                <a href="index.html" class="logo logo-small">
                    <img src="https://th.bing.com/th/id/OIP._8oz8stVnLGxjKspfdnnGAHaEK?rs=1&pid=ImgDetMain" alt="Logo" width="30" height="30">
                </a>
            </div>

            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fe fe-text-align-left"></i>
            </a>
            <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="Search here">
                    <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>

            <a class="mobile_btn" id="mobile_btn">
                <i class="fa fa-bars"></i>
            </a>


            <ul class="nav user-menu">

                <li class="nav-item dropdown noti-dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <i class="fe fe-bell"></i> <span class="badge badge-pill">3</span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image"
                                                     src="https://th.bing.com/th/id/R.b4276bb8a190277405b339a4be5cc56d?rik=Lg9k30Yh3esUnQ&pid=ImgRaw&r=0">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details">
                                                    <span class="noti-title">Jonathan Doe</span>
                                                    Schedule <span class="noti-title">his appointment</span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">4 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image"
                                                     src="https://th.bing.com/th/id/OIP.YOKRg83UxAHLfjzq5N5EPwHaFF?rs=1&pid=ImgDetMain">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details">
                                                    <span class="noti-title">Julie Pennington</span>
                                                    has booked her appointment to <span class="noti-title">
                                                        Ruby
                                                        Perrin
                                                    </span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">6 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image"
                                                     src="https://th.bing.com/th/id/R.e452dce925d60cbb8b35346b66662f18?rik=5a9l6HVmhxSjhg&riu=http%3a%2f%2f4.bp.blogspot.com%2f_OhZ5xjeTOA4%2fTMf5u1p-C4I%2fAAAAAAAAATk%2f7EjTHKj5ICc%2fs1600%2fcd42bac1.jpg&ehk=USEsiNFsos1vIpWYONizgontBL5pb0zNj%2bUpq3skBJU%3d&risl=&pid=ImgRaw&r=0">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details">
                                                    <span class="noti-title">Tyrone Roberts</span>
                                                    sent a amount of $210 for his <span class="noti-title">appointment</span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">8 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image"
                                                     src="https://th.bing.com/th/id/OIP.MWFqKvUq6hztM7PHatB4WAHaEK?rs=1&pid=ImgDetMain">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details">
                                                    <span class="noti-title">Patricia Manzi</span>
                                                    send a message <span class="noti-title"> to his Mentee</span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">12 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="#">View all Notifications</a>
                        </div>
                    </div>
                </li>


                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="https://th.bing.com/th/id/R.b4276bb8a190277405b339a4be5cc56d?rik=Lg9k30Yh3esUnQ&pid=ImgRaw&r=0"
                                 width="31" alt="Ryan Taylor">
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="https://th.bing.com/th/id/R.b4276bb8a190277405b339a4be5cc56d?rik=Lg9k30Yh3esUnQ&pid=ImgRaw&r=0" alt="User Image"
                                     class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>Allen Davis</h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="profile.html">My Profile</a>
                        <a class="dropdown-item" href="settings.html">Settings</a>
                        <a class="dropdown-item" href="login.html">Logout</a>
                    </div>
                </li>

            </ul>

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span><i class="fe fe-home"></i> Main</span>
                        </li>
                        <li>
                            <a href="index.html"><span>Dashboard</span></a>
                        </li>
                        <li class="active">
                            <a href="mentor.html"><span>Mentor</span></a>
                        </li>
                        <li class="active">
                            <a href="/admin/usermanagement"><span>User Management</span></a>
                        </li>

                        <li>
                            <a href="settings.html"><span>Settings</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><span> Reports</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="invoices.html">Invoices List</a></li>
                                <li><a href="invoice-grid.html">Invoices Grid</a></li>
                                <li><a href="add-invoice.html">Add Invoices</a></li>
                                <li><a href="edit-invoice.html">Edit Invoices</a></li>
                                <li><a href="view-invoice.html">Invoice Details</a></li>
                                <li><a href="invoices-settings.html">invoice settings</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="invoice-items.html"><span>Items</span></a>
                        </li>
                        <li class="menu-title">
                            <span><i class="fe fe-document"></i> Pages</span>
                        </li>
                        <li>
                            <a href="profile.html"><span>My Profile</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><span>Blog</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="blog.html"> Blog </a></li>
                                <li><a href="blog-details.html"> Blog Details </a></li>
                                <li><a href="add-blog.html"> Add Blog </a></li>
                                <li><a href="edit-blog.html"> Edit Blog </a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><span> Authentication </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="login.html"> Login </a></li>
                                <li><a href="register.html"> Register </a></li>
                                <li><a href="forgot-password.html"> Forgot Password </a></li>
                                <li><a href="lock-screen.html"> Lock Screen </a></li>
                            </ul>
                        </li>




                    </ul>
                </div>
            </div>
        </div>
        <script src="~/admin_assets/js/jquery-3.6.0.min.js"></script>

        <script src="~/admin_assets/js/bootstrap.bundle.min.js"></script>

        <script src="~/admin_assets/js/feather.min.js"></script>

        <script src="~/admin_assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="~/admin_assets/plugins/datatables/datatables.min.js"></script>
        <script src="~/admin_assets/plugins/datatables/jquery.datatables.min.js"></script>
        <script src="~/admin_assets/js/script.js"></script>
        s
        @RenderBody()

    </div>
    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>

</body>

<!-- Mirrored from mentoring.dreamguystech.com/html/template/admin/profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 May 2023 10:33:22 GMT -->

</html>



