@model EmailVerificationModel

@{
    Layout = "_LayoutCommon";
}

@{
    ViewData["Title"] = "Email Verification";
   
}

<h2>Email Verification</h2>

<div class="container">
    <form asp-action="Verify" method="post">
       
        <div class="form-group">
            <label asp-for="Code" class="control-label">Mã xác nhận</label>
            <input asp-for="Code" class="form-control" required />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Xác nhận" class="btn btn-primary" />
        </div>
    </form>
</div>