@{
    Layout = "_LayoutAdmin";
}
<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Quản lý ghế ngồi</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="datatable table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Tên trận đấu</th>
                                        <th>Ngày đá</th>
                                        <th>Tên sân</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody >
                                  @*   <tr>
                                        <td>Viettel vs Sông Lam Nghệ An</td>
                                        <td>28-11-2024</td>
                                        <td>SVĐ Mỹ Đình</td>
                                        <td class="text-center">
                                            <span class="badge badge-pill bg-success inv-badge">Chưa đá</span>
                                        </td>
                                        <td class="text-center">
                                            <div class="actions">
                                                <a data-bs-toggle="modal" href="#edit_invoice_report"
                                                   class="btn btn-sm bg-success-light me-2">
                                                    <i class="fe fe-setting"></i> Sửa ghế
                                                </a>
                                            </div>
                                        </td>
                                    </tr> *@
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/admin_assets/js/jquery-3.6.0.min.js"></script>
<script src="~/admin_assets/js/bootstrap.bundle.min.js"></script>
<script src="~/admin_assets/js/feather.min.js"></script>
<script src="~/admin_assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/admin_assets/plugins/datatables/jquery.datatables.min.js"></script>
<script src="~/admin_assets/plugins/datatables/datatables.min.js"></script>
<script src="~/admin_assets/js/script.js"></script>
<script src="~/admin_assets/adminjs/matcharea.js"></script>
