
@{
    Layout = "";
}
<!doctype html>
<html class=no-js lang="">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset=utf-8>
    <meta name=description content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>soccer club</title>
    <link rel="shortcut icon" href="~/image/imagelogo/the-cong-viettel.png">
    <link href="~/home_assets/vendor.css" />
    <link href="~/home_assets/style.css" rel="stylesheet" />
    <link rel=stylesheet type=text/css href=~/home_assets/css/layerslider.css>
    <script src="~/home_assets/js/vendor/modernizr.js"></script>
</head>
<body>

    <header class="header-main error-menu">
        <div class="header-lower clearfix">
            <div class=container>
                <div class=row>
                    <div class=menubar>
                        <nav class=navbar>
                            <div class=nav-wrapper>
                                <div class=navbar-header>
                                    <button type=button class=navbar-toggle>
                                        <span class=sr-only>Toggle navigation</span>
                                        <span class=icon-bar></span>
                                    </button>
                                </div>
                                <div class=nav-menu>
                                    <ul class="nav navbar-nav menu-bar">
                                        <div class=nav-menu>
                                            <ul class="nav navbar-nav menu-bar">
                                                <li>
                                                    <a href="/">
                                                        Trang chủ <span></span> <span></span> <span></span>
                                                        <span></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class=errorWrapper>
        <div class=errorHolderWrap>
            <div class=errorHolder>
                <h1><a href=index-2.html><img src="~/image/imagelogo/the-cong-viettel.png" style="width:220px" alt=image></a></h1>

                <h2>404</h2><h4>not found</h4>

              
            </div>
        </div>
    </div>
    <script src=~/home_assets/js/vendor/vendor.js></script>
    <script src=~/home_assets/js/main.js></script>
</body>

</html>