@model IEnumerable<CustomerNewsModel>
<div class="container">
    @foreach(var news in Model)
    {
        <div class="row">
            <div class="col-md-4">
                <img src="@news.Image" alt="tin-tuc" class="w-full rounded-md">
                <div class="">
                    <div class="flex justify-start mt-5 mb-2 time ">
                        <span class="text-10 mr-2">TCViettelFC</span>
                        <span class="text-10"> | @news.CreatedAt.Value.ToString("dd-MM-yyyy hh:mm:ss")</span>
                    </div>
                    <p>@news.Title</p>
                    
                </div>                
            </div>
        </div>
    }
    
</div>