@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout="_LayoutCommon";
}
<div class="td-pb-row">
    <div class="td-pb-span9 td-main-content" role="main">
        <div class="td-ss-main-content">
            <div class="clearfix"></div>



            <article id="post-29868" class="post-29868 post type-post status-publish format-standard has-post-thumbnail hentry category-gioi-thieu-vpf" itemscope="" itemtype="https://schema.org/Article">

                <div class="td-post-header">






                    <header class="td-post-title">

                        <h1 class="entry-title">Thông tin chung về Công ty Cổ phần Bóng đá chuyên nghiệp Việt Nam</h1>









                        <div class="td-module-meta-info">


                            <span class="td-post-date td-post-date-no-dot"><time class="entry-date updated td-module-date" datetime="2019-01-07T09:30:26+00:00">07/01/2019</time></span>


                        </div>



                    </header>



                </div>








                <div class="td-post-content">



                    <div class="td-post-featured-image"><img width="1488" height="673" class="entry-thumb td-animation-stack-type0-2" src="https://vpf.vn/wp-content/uploads/2019/01/Logo-VPF-600-1.jpg" srcset="https://vpf.vn/wp-content/uploads/2019/01/Logo-VPF-600-1.jpg 1488w, https://vpf.vn/wp-content/uploads/2019/01/Logo-VPF-600-1.jpg 2976w" sizes="(-webkit-min-device-pixel-ratio: 2) 2976px, (min-resolution: 192dpi) 2976px, 1488px" alt="" title="Logo VPF 600"></div>


                    <p>
                        <strong>Tên đơn vị:</strong> Công ty Cổ phần Bóng đá Chuyên nghiệp Việt Nam (Công ty VPF)<br>
                        <strong>Địa chỉ:</strong> Tòa nhà Trung tâm Đào tạo Bóng đá Trẻ, đường Lê Quang Đạo, phường Phú Đô, quận Nam Từ Liêm, Hà Nội.<br>
                        <strong>Địa chỉ liên hệ:</strong> Số 18, phố Lý Văn Phức, phường Cát Linh, quận Đống Đa, Hà Nội.<br>
                        <strong>Website:</strong> www.vpf.vn<br>
                        <strong>Youtube:</strong> VPF Media; V.League 1; V.League 2; VietnamNationalCup<br>
                        <strong>Fanpage:</strong> VPF/V.League 1
                    </p>
                    <p><strong>Danh sách thành viên Hội đồng quản trị Công ty VPF nhiệm kỳ&nbsp; 2023-2026:</strong></p>
                    <ul>
                        <li><strong>Chủ tịch HĐQT:</strong> Ông Trần Anh Tú</li>
                        <li>
                            <strong>
                                Phó Chủ tịch HĐQT:<br>
                            </strong>1. Ông Nguyễn Quốc Hội<br>
                            2. Ông Hồ Hồng Thạch<br>
                            3. Ông Trần Quang Thưởng
                        </li>
                        <li>
                            <strong>Các thành viên HĐQT</strong><br>
                            1. Ông Nguyễn Minh Ngọc – Thành viên HĐQT kiêm Tổng Giám đốc<br>
                            2. Ông Nguyễn Minh Châu<br>
                            3. Ông Đinh Hồng Vinh
                        </li>
                    </ul>
                    <p><strong>Danh sách thành viên Ban kiểm soát Công ty VPF nhiệm kỳ 2023-2026:</strong></p>
                    <ul>
                        <li><strong>Trưởng Ban kiểm soát:</strong> Bà Nguyễn Thanh Hương</li>
                        <li>
                            <strong>Các thành viên Ban kiểm soát:</strong><br>
                            1. Ông Bùi Quang Vũ<br>
                            2. Ông Cao Đình Tuệ Minh
                        </li>
                    </ul>
                    <p style="text-align: justify;">
                        <strong>Giới thiệu:</strong><br>
                        Công ty Cổ phần Bóng đá chuyên nghiệp Việt Nam (VPF) được thành lập ngày 5/12/2011 với cổ đông lớn nhất là Liên đoàn Bóng đá Việt Nam (VFF) và các cổ đông là các CLB Bóng đá chuyên nghiệp. Học tập theo mô hình tổ chức của các nền bóng đá tiên tiến trên thế giới, sự ra đời của Công ty VPF là minh chứng rõ nét cho bước tiến mới của quá trình xã hội hóa bóng đá nước nhà, phù hợp với xu thế phát triển chung của bóng đá chuyên nghiệp trên thế giới.<br>
                        Kể từ mùa giải 2012 đến nay, Công ty VPF được giao quyền quản lý, tổ chức và điều hành các Giải Bóng đá Chuyên nghiệp quốc gia, bao gồm:<br>
                        1. Giải Bóng đá Vô địch Quốc gia (V.League 1): là giải thi đấu bóng đá cấp CLB cao nhất tại Việt Nam. Đây cũng là giải đấu thu hút sự quan tâm chú ý của người hâm mộ cả nước với số lượng trận đấu nhiều nhất, quy tụ các trận đấu đỉnh cao và hấp dẫn nhất tại Việt Nam.<br>
                        2. Giải Bóng đá Hạng Nhất Quốc gia (V.League 2): là giải thi đấu bóng đá cấp CLB cao thứ hai tại Việt Nam. V.League 2 được xem là giải đấu tiền đề, tạo đà phát triển cho V.League<br>
                        3. Giải Cúp Quốc gia: là giải đấu quy tụ tất cả các CLB bóng đá chuyên nghiệp, bao gồm các đội thi đấu tại V.League 1 và V.League 2.
                    </p>
                    <p style="text-align: justify;">Công ty VPF hoạt động với tinh thần: “Cộng đồng trách nhiệm, chia sẻ quyền lợi, hướng tới tương lai, vươn ra thế giới”. Cùng với các CLB bóng đá chuyên nghiệp, VPF luôn nỗ lực và không ngừng đổi mới trong công tác quản lý, tổ chức, điều hành các Giải BĐCN QG, nhằm tổ chức thành công các giải đấu, cống hiến cho người hâm mộ những trận cầu hấp dẫn, có chất lượng chuyên môn cao, từ đó góp phần cho sự phát triển của bóng đá Việt Nam nói chung.</p>
                    <p>&nbsp;</p>

                </div>





                <footer>





                    <div class="td-post-source-tags">
                    </div>



                    <div class="td-post-sharing-bottom">
                        <div class="td-post-sharing-classic"><iframe frameborder="0" src="https://www.facebook.com/plugins/like.php?href=https://vpf.vn/vpf/gioi-thieu-vpf/thong-tin-chung-ve-cong-ty-vpf/&amp;layout=button_count&amp;show_faces=false&amp;width=105&amp;action=like&amp;colorscheme=light&amp;height=21" style="border:none; overflow:hidden; width:105px; height:21px; background-color:transparent;"></iframe></div><div id="td_social_sharing_article_bottom" class="td-post-sharing td-ps-bg td-ps-notext td-post-sharing-style1 ">
                            <div class="td-post-sharing-visible">
                                <a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-facebook" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fvpf.vn%2Fvpf%2Fgioi-thieu-vpf%2Fthong-tin-chung-ve-cong-ty-vpf%2F" style="transition: opacity 0.2s; opacity: 1;">

                                    <div class="td-social-but-icon"><i class="td-icon-facebook"></i></div>

                                    <div class="td-social-but-text">Facebook</div>

                                </a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-twitter" href="https://twitter.com/intent/tweet?text=Th%C3%B4ng+tin+chung+v%E1%BB%81+C%C3%B4ng+ty+C%E1%BB%95+ph%E1%BA%A7n+B%C3%B3ng+%C4%91%C3%A1+chuy%C3%AAn+nghi%E1%BB%87p+Vi%E1%BB%87t+Nam&amp;url=https%3A%2F%2Fvpf.vn%2Fvpf%2Fgioi-thieu-vpf%2Fthong-tin-chung-ve-cong-ty-vpf%2F&amp;via=VPF" style="transition: opacity 0.2s; opacity: 1;">

                                    <div class="td-social-but-icon"><i class="td-icon-twitter"></i></div>

                                    <div class="td-social-but-text">Twitter</div>

                                </a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-googleplus" href="https://plus.google.com/share?url=https://vpf.vn/vpf/gioi-thieu-vpf/thong-tin-chung-ve-cong-ty-vpf/" style="transition: opacity 0.2s; opacity: 1;">

                                    <div class="td-social-but-icon"><i class="td-icon-googleplus"></i></div>

                                    <div class="td-social-but-text">Google+</div>

                                </a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-pinterest" href="https://pinterest.com/pin/create/button/?url=https://vpf.vn/vpf/gioi-thieu-vpf/thong-tin-chung-ve-cong-ty-vpf/&amp;media=https://vpf.vn/wp-content/uploads/2019/01/Logo-VPF-600-1.jpg&amp;description=Th%C3%B4ng+tin+chung+v%E1%BB%81+C%C3%B4ng+ty+C%E1%BB%95+ph%E1%BA%A7n+B%C3%B3ng+%C4%91%C3%A1+chuy%C3%AAn+nghi%E1%BB%87p+Vi%E1%BB%87t+Nam" style="transition: opacity 0.2s; opacity: 1;">

                                    <div class="td-social-but-icon"><i class="td-icon-pinterest"></i></div>

                                    <div class="td-social-but-text">Pinterest</div>

                                </a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-whatsapp" href="whatsapp://send?text=Thông tin chung về Công ty Cổ phần Bóng đá chuyên nghiệp Việt Nam %0A%0A https://vpf.vn/vpf/gioi-thieu-vpf/thong-tin-chung-ve-cong-ty-vpf/">

                                    <div class="td-social-but-icon"><i class="td-icon-whatsapp"></i></div>

                                    <div class="td-social-but-text">WhatsApp</div>

                                </a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://vpf.vn/vpf/gioi-thieu-vpf/thong-tin-chung-ve-cong-ty-vpf/&amp;title=Thông tin chung về Công ty Cổ phần Bóng đá chuyên nghiệp Việt Nam" style="transition: opacity 0.2s; opacity: 1;">

                                    <div class="td-social-but-icon"><i class="td-icon-linkedin"></i></div>

                                    <div class="td-social-but-text">Linkedin</div>

                                </a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-mail" href="mailto:?subject=Thông tin chung về Công ty Cổ phần Bóng đá chuyên nghiệp Việt Nam&amp;body=https://vpf.vn/vpf/gioi-thieu-vpf/thong-tin-chung-ve-cong-ty-vpf/" style="transition: opacity 0.2s; opacity: 1;">

                                    <div class="td-social-but-icon"><i class="td-icon-mail"></i></div>

                                    <div class="td-social-but-text">Email</div>

                                </a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-print" href="#" style="transition: opacity 0.2s; opacity: 1;">

                                    <div class="td-social-but-icon"><i class="td-icon-print"></i></div>

                                    <div class="td-social-but-text">Print</div>

                                </a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-line" href="https://line.me/R/msg/text/?Thông tin chung về Công ty Cổ phần Bóng đá chuyên nghiệp Việt Nam%0D%0Ahttps://vpf.vn/vpf/gioi-thieu-vpf/thong-tin-chung-ve-cong-ty-vpf/">

                                    <div class="td-social-but-icon"><i class="td-icon-line"></i></div>

                                    <div class="td-social-but-text">LINE</div>

                                </a><a class="td-social-sharing-button td-social-sharing-button-js td-social-network td-social-viber" href="viber://forward?text=Thông tin chung về Công ty Cổ phần Bóng đá chuyên nghiệp Việt Nam https://vpf.vn/vpf/gioi-thieu-vpf/thong-tin-chung-ve-cong-ty-vpf/">

                                    <div class="td-social-but-icon"><i class="td-icon-viber"></i></div>

                                    <div class="td-social-but-text">Viber</div>

                                </a>
                            </div><div class="td-social-sharing-hidden" style="display: none;">
                                <ul class="td-pulldown-filter-list"></ul><a class="td-social-sharing-button td-social-handler td-social-expand-tabs" href="#" data-block-uid="td_social_sharing_article_bottom">

                                    <div class="td-social-but-icon"><i class="td-icon-plus td-social-expand-tabs-icon"></i></div>

                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="td-block-row td-post-next-prev"><div class="td-block-span6 td-post-prev-post"><div class="td-post-next-prev-content"><span>Bài trước</span><a href="https://vpf.vn/tin-tuc/tin-noi-bat/khoi-dong-mua-giai-2019-voi-le-boc-tham-xep-lich-cac-giai-bdcn-qg/">Khởi động mùa giải 2019 với Lễ bốc thăm xếp lịch các Giải BĐCN QG</a></div></div><div class="td-next-prev-separator"></div><div class="td-block-span6 td-post-next-post"><div class="td-post-next-prev-content"><span>Bài tiếp theo</span><a href="https://vpf.vn/thu-vien-anh/thu-vien-anh-hoat-dong-vpf/dai-hoi-dong-co-dong-thuong-nien-nam-2018/">Đại Hội đồng cổ đông thường niên năm 2018</a></div></div></div>
                    <div class="td-author-name vcard author" style="display: none"><span class="fn"><a href="https://vpf.vn/author/vpfuser/">USER VPF</a></span></div>
                    <span class="td-page-meta" itemprop="author" itemscope="" itemtype="https://schema.org/Person"><meta itemprop="name" content="USER VPF"></span><meta itemprop="datePublished" content="2019-01-07T09:30:26+00:00"><meta itemprop="dateModified" content="2024-05-11T15:18:07+07:00"><meta itemscope="" itemprop="mainEntityOfPage" itemtype="https://schema.org/WebPage" itemid="https://vpf.vn/vpf/gioi-thieu-vpf/thong-tin-chung-ve-cong-ty-vpf/"><span class="td-page-meta" itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization"><span class="td-page-meta" itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject"><meta itemprop="url" content="https://vpf.vn/wp-content/uploads/2018/11/logo-vpf.png"></span><meta itemprop="name" content="VPF"></span><meta itemprop="headline " content="Thông tin chung về Công ty Cổ phần Bóng đá chuyên nghiệp Việt Nam"><span class="td-page-meta" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"><meta itemprop="url" content="https://vpf.vn/wp-content/uploads/2019/01/Logo-VPF-600-1.jpg"><meta itemprop="width" content="1488"><meta itemprop="height" content="673"></span>
                </footer>



            </article> <!-- /.post -->






            <div class="clearfix"></div>
        </div>
    </div>
    <div class="td-pb-span3 td-main-sidebar" role="complementary">
        <div class="td-ss-main-sidebar" style="width: 300px; position: fixed; top: 73px; bottom: auto;">
            <div class="clearfix"></div>

            <!-- .no sidebar -->

            <div class="clearfix"></div>
        </div>
    </div>
</div>